.sidebar-container{
margin:1.25rem;
}

.sidebar-row {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3px;

  }

  .sidebar-col{
    background-color: #f8f9fa;
    display:grid;
    grid-row-gap:10px;
    border-radius: 2px;
    width:12rem;
  }

  .sidebar-category-title{
    background-color: rgb(162, 159, 159);
    font-weight:600;
    padding:0;
   text-align: center;
   padding:0.15rem;
   font-weight: 600;
   border-radius: 3px;
  }
  .sidebar-subcat-btn{
    background-color: #f8f9fa;
    border: none;
    width: 100%;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sidebar-subcat-btn:hover{
    background-color: #25a18e;

  }
  .sidebar-subcat-click-btn{
    background-color: aquamarine;
    border: none;
    width: 100%;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .subCategories ul{
    list-style: none;
    margin: 8px 8px;
    padding: 0;
  }

  .subCategories ul li{

    text-align: left;
    margin:6px 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 3px;

  }
  

